{% extends 'base_admin.html' %}

{% block content %}
<h1>Payments</h1>
<ul>
{% for payment in object_list %}
    <li id="{{ payment.id }}" class="payment">{{ payment.student.name }}: {{ payment.payment_type }} for {{ payment.plan.name }}, expires on {{ payment.end_date }}, satisfied: {{ payment.satisfied }}</li>
{% endfor %}
</ul>
{% endblock %}

{% block scripts %}
<script src="{{ STATIC_URL }}js/django_ajax.js"></script>
<script>
    $(".payment").click(function() {
        $.post("/admin/satisfy_payment/",
            {"payment_id": this.id},
            function (data) {
                location.reload();
            });
    });
</script>
{% endblock %}
