{% extends 'base.html' %}

{% block title %}
{{block.super}} Team
{% endblock %}

{% block content %}
<div class="span8 offset2">
	<h1 class="text-center">About PennCycle</h1>
	<p>PennCycle was founded in 2011 by five students looking to change transportation at Penn. With this common goal, they created a bike share for the Penn community. Opening prior to even New York City’s Citi Bike, PennCycle is part of the international movement to make biking as common and accepted as driving and taking public transportation. By riding PennCycle, students are able to save money, get around faster, get exercise, and be more environmentally friendly.</p>

	<p>After being funded by Green Campus Partnership’s Greenfund Grant, PennCycle was taken in by Penn Student Agencies. Penn Student Agencies is a group of student run agencies that give students real-life experiences in business, sales, customer service, and management. It provides students with a safe and supportive community to take risks, build partnerships, and run successful businesses.</p>
	<h1 class="text-center">The PennCycle Team</h1>
	<p>PennCycle is looking to hire motivated undergraduates for fleet management and web development positions! Contact <a href="mailto:messenger@penncycle.org">messenger@penncycle.org</a> with your resume to discuss employment opportunities.</p>
	<div class="row-fluid">
		<div class="span6">
			<img src="{{ STATIC_URL }}img/team/madison.jpeg" class="profile">
			<h3>Madison Roberts</h3>
			<h4>Director</h4>
			<p class="school">College &#8217;14</p>
			<p><a href="mailto:madisonr@penncycle.org">madisonr@penncycle.org</a></p>
		</div>
		<div class="span6">
			<img src="{{ STATIC_URL }}img/team/bobby.jpg" class="profile">
			<h3>Bobby Lundquist</h3>
			<h4>Finances and Data Manager</h4>
			<p class="school">College &#8217;16</p>
			<p><a href="mailto:bobbylundquist@gmail.com">bobbylundquist@gmail.com</a></p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6">
			<img src="{{ STATIC_URL }}img/team/razzi.png" class="profile">
			<h3>Razzi Abuissa</h3>
			<h4>Webmaster</h4>
			<p class="school">College &#8217;15</p>
			<p><a href="mailto:rabuissa@sas.upenn.edu">rabuissa@sas.upenn.edu</a></p>
		</div>
		<div class="span6">
			<img src="{{ STATIC_URL }}img/team/zoe.jpg" class="profile">
			<h3>Zoe Blickenderfer</h3>
			<h4>Sales and Publicity Manager</h4>
			<p class="school">College &#8217;16</p>
			<p><a href="mailto:bzoe@sas.upenn.edu">bzoe@sas.upenn.edu</a></p>
		</div>
	</div>
	<br>
	<h2 class="textCentered">Fleet Managers</h2>
	<div class="row-fluid">
		<div class="span6">
			<img src="{{ STATIC_URL }}img/team/aziz.jpg" class="profile">
			<h3>Aziz Kamoun</h3>
			<p class="school">College &#8217;16</p>
			<p><a href="mailto:aziz.penncycle@gmail.com">aziz.penncycle@gmail.com</a></p>
		</div>
	</div>
	<br>
	<h2 class="textCentered">Business Development Associates</h2>
	<div class="row-fluid">
		<div class="span4">
			<img src="{{ STATIC_URL }}img/team/sara.jpeg" class="profile">
			<h4>Sara Jones</h4>
			<p class="school">College &#8217;16</p>
			<p><a href="mailto:jonessar@sas.upenn.edu">jonessar@sas.upenn.edu</a></p>
		</div>
		<div class="span4">
			<img src="{{ STATIC_URL }}img/team/brian.jpg" class="profile">
			<h4>Brian Rawn</h4>
			<p class="school">College &#8217;15</p>
			<p><a href="mailto:rawnb@sas.upenn.edu">rawnb@sas.upenn.edu</a></p>
		</div>
		<div class="span4">
			<img src="{{ STATIC_URL }}img/team/akailah.jpg" class="profile">
			<h4>Akailah Jennings</h4>
			<p class="school">College &#8217;16</p>
			<p><a href="mailto:akailah@sas.upenn.edu">akailah@sas.upenn.edu</a></p>
		</div>
	</div>
</div>
{% endblock %}