<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PennCycle | {% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->

    <link href="{{ STATIC_URL }}css/penncycle.css" rel="stylesheet">

  	{% block css %}
	  {% endblock css %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29452231-1']);
      _gaq.push(['_setDomainName', 'penncycle.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=282950051818699";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <img class="bg-image hidden-phone" src="{{ STATIC_URL }}img/philly.jpg">
    <div class="container opaque">
      <center>
        <a href="/"><img class="centered" src="{{ STATIC_URL }}img/PennCycle-Logo-3-web-570.png"></a>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav1 nav">
              <li><a href="/">Home</a></li>
              <li><a href="/plans/">Plans</a></li>
              <li><a href="/signup/">Sign Up</a></li>
              <li><a href="/signin/">Sign In</a></li>
              <li><a href="/locations/">Locations</a></li>
              <li><a href="/safety/">Safety</a></li>
              <li><a href="/faq/">FAQ</a></li>
              <li><a href="/team/">Team</a></li>
            </ul>
          </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
        {% if messages %}
          <div class="messages">
            {% for message in messages %}
              <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</h4>
            {% endfor %}
         </div>
       {% endif %}
      </center>

      <div class="row">
        <div class="span2 flat">&nbsp;</div>
        <div class="span8 border">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span2 flat">&nbsp;</div>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="fb-like span6 offset2" data-href="http://www.facebook.com/pages/PennCycle/345622718793885" data-send="true" data-width="450" data-show-faces="true"></div>
        <div class="span3 flat offset1">
          <a href="http://www.twilio.com/" style="text: decoration: none; display: inline-block; width: 166px; height: 0; padding-top: 31px; overflow: hidden;background: url(http://www.twilio.com/packages/company/img/logos_icon_poweredbysmall.png) no-repeat;"></a>
        </div>
      </div>
      <div class="row">
        <p class="textCentered">&copy; PennCycle 2013</p>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<!-- more scripts -->
	{% block scripts %}

	{% endblock scripts %}

  </body>
</html>

