<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}PennCycle | {% endblock title %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->

    <link href="/media/css/penncycle.css" rel="stylesheet">
	<!-- more css -->
	{% block css %}
	{% endblock css %}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/media/img/favicon.ico">
    <link rel="apple-touch-icon" href="/media/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/media/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/media/img/apple-touch-icon-114x114.png">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29452231-1']);
      _gaq.push(['_setDomainName', 'penncycle.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
  <!-- facebook shiit-->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=405394169478001";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <img class="bg-image" src="/media/img/philly.jpg" alt="" />
    <div class="container opaque">
      <center>
        <a href="/"><img class="centered" src="/media/img/PennCycle-Logo-3-web-570.png"/></a>
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav1 nav">
              {% block navbar %}
                {% for p in pages %}
                  {% autoescape on %}
                    <li><a href="{{p.url}}">{{p.name}}</a></li>
                  {% endautoescape %}
                {% endfor %}
              {% endblock navbar %}
            </ul>
          </div><!-- /navbar-inner -->
        </div><!-- /navbar -->
      </center>
      
      <div class="row">
        <div class="span3 flat">&nbsp;</div>
        <div class="span6 border">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="span3 flat">&nbsp;</div>
      </div>
      <hr>
      <div class="row">
        <div class="span3 flat">&nbsp;</div>
        <div class="span6">
          <div class="fb-like" data-href="http://penncycle.org" data-send="true" data-width="600" data-show-faces="true" data-font="arial">
          </div>
          <p class="textCentered">&copy; PennCycle 2012</p>
        </div>
        <div class="span3 flat">&nbsp;</div>
        </row>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
	<!-- more scripts -->
	{% block scripts %}
    
	{% endblock scripts %}
	
  </body>
</html>

