{% extends 'base.html' %}

{% load partition %}

{% block title %}
{{ block.super }} Bikes
{% endblock %}

{% block css %}
<style type="text/css">
  .marker {
    font-size: 12px;
    line-height: 12px;
    background-color: white;
    text-align: center;
    border-radius: 2px;
  }
</style>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div id="map" style="width:auto; height:380px"></div>
    <br>
    <div class="row-fluid">
        {% for row in bikes|columns:"4" %}
            {% for bike in row %}
                <div class="span3 well">
                    <img src="{{ STATIC_URL }}img/bikes/{{ bike.manufacturer|lower }}.png">
                    <h3>Bike {{ bike.name }}</h3>
                    <h4>{{ bike.status }} at {{ bike.location.name }}</h4>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKBg19QWvNQ2U5Skk9nJrG9c43rtJuf-A&amp;sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.0.1/src/markerwithlabel.js"></script>
  <script src="{{ STATIC_URL }}js/map.js"></script>
{% endblock %}