{% extends 'base.html' %}

{% block title %}
  {{block.super}} Events
{% endblock %}

{% block content %}
<p>
<center>
<h3>Want more information about PennCycle? Want to learn about how biking sharing at Penn began? Or just want to meet the people behind it all?</h3>
</center> 
</p>

<p>
<center>
<h3>
Check here for up-to-date listings of all PennCycle events!
Come to PennCycle's Fall Kick-Off Event
on Friday October 5th from 11:00am to 3:00pm 
on College Green
Rain Location (The Reading Room in Houston Hall)
</h3>
</center>
</p>


<p>
<center>
<iframe src="https://www.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=f3ppikg5efhsmhp819re735mso%40group.calendar.google.com&amp;color=%23060D5E&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="550" height="400" frameborder="0" scrolling="no"></iframe>
<center/>
</p>
{% endblock %}