{% extends 'base.html' %}

{% block title %}
{{block.super}} FAQ
{% endblock %}

{% block content %}
<div class="span8 offset2">
	<h1 class="text-center">FAQ</h1>
	<div class="well">
		<strong>Who is eligible to participate in PennCycle?</strong>
		<hr>
		<p>Bikes are available to the entire Penn community including students, staff, and faculty. Anyone with a PennCard can sign up.</p>
	</div>

	<div class="well">
		<strong>How do I check out and return bikes?</strong>
		<hr>
		<p>You can check out bikes using our smartphone app. If you don't have a smartphone, you can text 'help' to 215-688-5468 for instructions on how to check out bikes through texting.</p>
	</div>

	<div class="well">
		<strong>How much does it cost?</strong>
		<hr>
		<p>Bikes are available for rental for as low as $9 a month. Please <a href="/login">login</a> for more information on plans.</p>
	</div>

	<div class="well">
		<strong>How can I pay for PennCycle plans?</strong>
		<hr>
		<p>When you sign up on our website you can pay with Bursar and credit card online. If you would like to pay with cash, you can complete the registration process online and bring your membership fee to Quaker Corner between 10 am and 6 pm, Monday through Friday.</p>
	</div>
	<div class="well">
		<strong>How do I renew my membership?</strong>
		<hr>
		<p>When you sign up, you can choose to have your membership be automatically renewed every 30 days. The default method of payment for renewal will be bursar. You will be sent an email before your membership is renewed in case you want to pay using cash or credit, or if you would like to opt out of renewing your membership. If you did not choose to have your membership automatically renewed you will also receive an email with renewal options.</p>
	</div>

	<div class="well">
		<strong>How long can I keep a rented bike?</strong>
		<hr>
		<p>You can keep a bike for up to 24 hours after the time you checked it out. After 24 hours, a daily $5 late fee will apply, unless you have our unlimited plan. With our unlimited plan, you can keep the bike out for as long as you’d like.</p>
	</div>

	<div class="well">
		<strong>What happens if my bike gets lost or damaged?</strong>
		<hr>
		<p>When you rent a bike, you are held responsible for its condition beyond normal wear and tear. Notify an employee at the location you rented it from of the loss or damage and email messenger@penncycle.org.</p>
	</div>

	<div class="well">
		<strong>Who are the people in charge of PennCycle?</strong>
		<hr>
		<p>PennCycle is run by student managers out of Penn Student Agencies.</p>
	</div>

	<div class="well">
		<strong>How can I pay for my PennCycle membership?</strong>
		<hr>
		<p>When you sign up on our website you can pay with Bursar and Credit Card online. If you would like to pay with cash, you can complete the registration process online and bring your membership fee in cash to the Penn Student Agencies Store between 10 am and 6 pm, Monday through Friday.</p>
	</div>

	<div class="well">
		<strong>How can I get more involved in PennCycle?</strong>
		<hr>
		<p>We are always looking for students that are passionate about bikes and bike sharing to join our team! If you are interested in getting more involved in PennCycle, email <a href="mailto:messenger@penncycle.org">messenger@penncycle.org</a>.</p>
	</div>

	<div class="well">
		<strong>Do you have maps of bike paths in Philly?</strong>
		<hr>
		<p>Bike maps can be picked up at Penn Student Agencies.</p>
	</div>

	<div class="well">
		<strong>Still looking for an answer? Email <a href="mailto:messenger@penncycle.org">messenger@penncycle.org</a>.</strong>
	</div>
</div>
{% endblock %}
