<p>
For a $10 fee, a registration process, and a swipe of PennCard, you can have full access to bikes (including locks and helmets). After you have registered, visit Hill College House and present your PennCard to a PennCycle Associate at the desk. Take the numbered key and find the corresponding PennCycle. Inspect the bike and report issues, adjust the seat, and PennCycle! Remember to return the bike to Hill College House before 7 PM!
</p>
<hr><ul>
<li><strong>Who is eligible to participate in PennCycle?</strong></li>
</ul>
<p><strong></strong>Bike are available to the entire Penn Community including students, staff, and faculty. Anyone with a PennCard</p>
<hr><ul>
<li><strong>How much does it cost?</strong></li>
</ul>
<p>Bikes are available for rental for a $10 fee for the rest of the Spring 2012 semester.</p>
<hr><ul>
<li><strong>When are PennCycle hours/when can I rent and return bikes?</strong></li>
</ul>
<p><strong></strong>Bike rental is open from 9AM to 7PM.</p>
<hr><ul>
<li><strong>How are bikes assigned?</strong></li>
</ul>
<p><strong></strong>Bikes are assigned on a first-come first-serve basis.</p>
<hr><ul>
<li><strong>For how long can I keep a rented bike?</strong></li>
</ul>
<p><strong></strong>You can keep a bike for a day. If you keep the bike overnight, overnight charges apply.</p>
<hr><ul>
<li><strong>Drats! My bike got lost/damaged &#8211; what do I do?!</strong></li>
</ul>
<p><strong></strong>When you rent a bike, you are held responsible for its condition beyond normal wear and tear.</p>
<hr><ul>
<li><strong>Who are the people in charge of PennCycle?</strong></li>
</ul>
<p><strong></strong>PennCycle is run by student managers out of Penn Student Agencies.</p>
<hr><ul>
<li><strong>How can I pay for my PennCycle membership?</strong></li>
</ul>
<div>When you sign up on our website you can pay with PennCash, Bursar and Credit Card online. If you would like to pay with cash, you can complete the registration process online and bring your $10 in cash to Hill College House between 9 am and 7 pm, 7 days a week, or the PSA Store during its business hours.</div>
<div></div>
<div>
<hr><ul>
<li><strong>How can I get more involved in PennCycle?</strong></li>
</ul>
<div>We are currently hiring PennCycle Associates, to check out bikes at Hill College House. If you are interested, or would like more information, email messenger@penncycle.org.</div>
</div>
<div></div>
<div>
<hr><ul>
<li><strong>Do you have maps of bike paths in Philly?</strong></li>
</ul>
<div>We are currently working on finding the best bike maps. These will be up soon!</div>
</div>
<hr>
<p><strong>Still looking for an answer? <a href="mailto:messenger@penncycle.org">messenger@penncycle.org</a></strong></p>
<p>