{% extends 'base.html' %}

{% block title %}
{{block.super}} Home
{% endblock %}

{% block css %}
<style type="text/css">
  .circle {
    width: 125px;
    height: 125px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #ddd;
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
  }
  .basic {
    background-color: hsla(200, 100%, 50%, .2);
  }
  .spacer {
    display: table-cell;
    width: 45px;
  }
  .price {
    display: block;
    text-align: center;
  }
  .plan-name {
    font-weight: bold;
    display: block;
    text-align: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid well">
  <div class="row-fluid">
    <div class="span6">
      <h1 class="textCentered">PennCycle is closed until classes start on August 28.</h1>
    </div>
    <div class="span6" style="padding: 20px;">
      <h1>Basic Plan: $9</h1>
      <h4>Unlimited 24-hour rides.</h4>
      <form method="GET" action="/lookup/">
        <input type="text" name="penncard" maxlength="8" placeholder="Enter your PennCard">
        <input class="btn btn-primary" type="submit" value="Get Started &raquo;">
        <div class="btn">
          <a href="/signin/">Sign In</a>
        </div>
      </form>
    </div>
  </div>
  <hr>
  <h3 class="text-center">Our Plans</h3>
  <div class="row-fluid">
    <div class="span3 offset1">
      <div class="circle" id="day_plan">
        <span class="plan-name">Day Plan</span>
        <span class="price">$3</span>
      </div>
      <br>
      <div>
        <div>Good for one 24-hour checkout.</div>
      </div>
    </div>
    <div class="span3 offset1">
      <div class="circle basic" id="month_plan">
        <span class="plan-name">Basic Plan</span>
        <span class="price">$9/month</span>
      </div>
      <br>
      <div>Unlimited 24-hour checkouts. $5 for each day the bike is checked in late.</div>
    </div>
    <div class="span3 offset1">
      <div class="circle" id="unlimited_plan">
        <span class="plan-name">Unlimited Plan</span>
        <span class="price">$29/month</span>
      </div>
      <br>
      <div>
        <div>Keep any bike out for as long as you'd like.</div>
      </div>
    </div>
  </div>
  <br>
  <p class="text-center">Helmets and locks are included with all plans. <a class="btn btn-primary offset1" href="/signup/">Sign Up &raquo;</a></p>
  <hr>
  <ol class="offset3">
    <li><a href="/signup/">Sign up</a> or <a href="/signin">sign in</a> and buy a plan.</li>
    <li>Come to one of our <a href="/locations">locations</a>. Show us your PennCard.</li>
    <li>Take your PennCycle for a ride!</li>
    <li>Return by <a href="/locations">closing time</a> (or keep it overnight for $5).
    </li>
  </ol>
  <hr>
  <center>
    <img src='{{ STATIC_URL }}img/katie-sitting-reading.jpg' class="thumbnail">
  </center>
  <p class="text-center">Happy Cycling!</p>
</div>
{% endblock %}
