{% extends 'base.html' %}

{% block title %}
  {{block.super}} Home
{% endblock %}

{% block content %}
  <h1>PennCycle is Here!</h1>
  <hr>
  <h3>
    This Friday, Penn's first bike-rental service is launching 
    with broad support from the Undergraduate Assembly, 
    Department of Public Safety, Office of Risk Management, 
    and Green Campus Partnership!
  </h3>
  <hr>
  <h3>
    Penn students now have a sustainable and convenient 
    option to travel within and outside Penn. 
    We envision a campus where anyone can be a 
    Penncyclist- whether you want to explore the city or get to class.
  </h3>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // set background for active tab in navbar    
    $('.nav1 li#home').addClass('active');
  </script>
{% endblock %}