{% extends 'base.html' %}

{% block title %}
  {{block.super}} Home
{% endblock %}

{% block content %}
  <h1 class="textCentered">
    PennCycle is closed until Summer Session I which starts on May 20th. <a href="/signup">Sign up</a> for either summer session!
  </h1>
<!--   <h1 class="textCentered">{{available.count}}<small>/26</small> bikes are available right now</h1>
  <h4 class="textCentered">{{stoufferCount}} in <a href="/locations/">Stouffer</a>, {{psaCount}} in <a href="/locations/">Penn Student Agencies</a> and {{houstonCount}} in <a href="/locations/">Houston</a>.</p>
    <p>NEW LOCATIONS: {{rodinCount}} in <a href="/locations">Rodin</a>, {{wareCount}} in <a href="/locations">Ware</a> and {{fisherCount}} in <a href="/locations">Fisher-Hassenfeld</a>.</p></h4> -->
  <hr>
  <h2><ol>
    <li><a href="/plans">Check out our plans.</a></li>
    <li><a href="/signup/">Sign up.</a></li>
    <li>Come to one of our <a href="/locations">locations</a>. Show us your PennCard.</li>
    <li>Take your PennCycle for a ride!</li>
    <li>Return by <a href="/locations">closing time</a> (or keep it overnight for $5).
    </li>
  </ol></h2>
  <hr>
  <div class="fb-like offset1" data-href="http://www.facebook.com/pages/PennCycle/345622718793885" data-send="false" data-width="500" data-show-faces="true"></div>
  <hr>
  <center>
    <img src='media/img/katie-sitting-reading.jpg' class="thumbnail">
  </center>
  
  <p>Philly is one of the best parts about being at Penn, but getting around can be an incredible pain. Biking is the easiest option, but owning a bike? Not so much.</p>
  <p>Who wants to spend their time oiling a chain, fixing a brake, or storing a bike for the summer and winter? Who wants to pay upwards of $500 for a bike when textbooks and trips to Blarney are taking their toll?</p>
  <p>Not the Penn Students we know.</p>
  <p>PennCycle is affordable, reliable, and super easy &#8212; not to mention fun, sustainable, and healthy. Just like transportation should be.</p>
  <p>Happy Cycling!</p>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // set background for active tab in navbar    
    $('.nav1 li#home').addClass('active');
  </script>
{% endblock %}
