{% extends 'base.html' %}

{% block title %}
  {{block.super}} Locations
{% endblock %}

{% block content %}
<p>
	PennCycle is moving across campus and is happy to offer a check-out location at Houston Hall!
</p>

<div class = "well">
<center>
<p>
<h3>Houston Hall </h3> </p>

<p> COMING SOON! </p>
<p>
<h3> 3417 Spruce Street</h3>
</p>
<p>
<h3>Hours: 9 am to 9:30 pm, 7 days a week</h3>
</p>
</center>
<p>
</div>

<div class = "well"></p>
<center>
<p>

<h3>Stouffer College House </h3></p>

<p> NOW OPEN! </p>

<p> <h3> 3702 Spruce Street (above Wawa)</h3>
</p>
<p>
<h3>Hours:
<p> Noon - 11 pm, Monday through Thursday </p>
<p> Noon - 9 pm, Friday </p>
<p> 11 am - 9 pm, Saturday </p>
<p> 11 am - 11 pm, Sunday </p>
<p> Bikes are stored in the Stouffer courtyard up the stairs. To check-out a bike or return your key and helmet go into the D building and to the right. </p>
</h3>
</p>
</center>
</div>

<div class="well">
<center>
<h3>Penn Student Agencies Store </h3></p>
</center>

</p>
<center>
NOW OPEN!
<p>

<h3><p> 117 Williams Hall (across from Houston Hall)</h3>
</p>
<p>
<h3>Hours: 10 am to 6 pm, Monday through Friday</h3>
</p>
</center>
</div>

{% endblock %}