{% extends 'base.html' %}

{% block title %}
  {{block.super}} Locations
{% endblock %}

{% block content %}
<div id="map_canvas" style="width:auto; height:430px"></div>
<br>
{% for station in stations %}
<div class = "well">
	<div class="textCentered">
		<h3>
			{{ station.full_name }} - 
			{% if station.is_open %}
				<span class="glow"> Currently open!</span>
			{% endif %}
		</h3>

		<h4>{{ station.address }}</h4>
		<h4>{{ station.hours|linebreaks }}</h4>
		<p>{{ station.notes }}</p>
	</div>
</div>
{% endfor %}
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKBg19QWvNQ2U5Skk9nJrG9c43rtJuf-A&amp;sensor=false"></script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.0.1/src/markerwithlabel.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
			map();
		});
		function map() {
	    	var mapOptions = {
		            center: new google.maps.LatLng(39.951600,-75.197794),
		            zoom: 17,
		            mapTypeId: google.maps.MapTypeId.ROADMAP,
		            disableDefaultUI: true,
	                zoomControl: false,
	                scrollwheel: false,
		    	};
		    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
		    {% for station in stations %}
			    var marker = new MarkerWithLabel({
			    	position: new google.maps.LatLng({{station.latitude}},{{station.longitude}}),
			    	labelAnchor: new google.maps.Point(25, 0),
			    	title: "{{ station.comma_name|linebreaks|striptags }}",
	                map: map,
	                {% if station.is_open %}
	                labelContent:"{{station.name}} OPEN",
	                {% else %}
	                labelContent:"{{station.name}} Closed"
	                {% endif %}
	                labelClass:"labels",
	                icon: "/media/img/marker.png"
			    });
			{% endfor %}
		}
	</script>
{% endblock %}
