{% extends 'base.html' %}

{% block title %}
  {{block.super}} Locations
{% endblock %}

{% block content %}
<h4>
	PennCycle is happy to announce the opening of check-out locations in Rodin, Fisher-Hassenfeld and Ware!
</h4>

<div id="map_canvas" style="width:auto; height:480px"></div>
<br>
<div class = "well">
	<div class="textCentered">
		<h3>Houston Hall</h3>
		<h4>3417 Spruce Street</h4>
		<h4>Hours: 9 am to 9:30 pm, 7 days a week</h4>
	</div>
</div>
<div class = "well">
	<div class="textCentered">
		<h3>Stouffer College House </h3>
		<h4>3702 Spruce Street (above Wawa)</h4>
		<h4>Hours: 9:45 am - 4 pm Monday, 9:45 am - 5:30 pm Tuesday through Friday</h4>
		<p>Bikes are stored in the Stouffer courtyard up the stairs. To check-out a bike or return your key and helmet go into the D building and to the right. </p>
		</p>
		<p>Weekend hours to be announced.</p>
	</div>
</div>

<div class="well">
	<div class="textCentered">
		<h3>Penn Student Agencies Store </h3>
		<h4>117 Williams Hall (across from Houston Hall)</h4>
		<h4>Hours: 10 am to 6 pm Monday through Friday</h4>
	</div>
</div>

<div class="well">
	<div class="textCentered">
		<h3>Rodin</h3>
		<p>NOW OPEN!</p>
		<h4>3901 Locust Walk</h4>
		<h4>Hours: 9 am to 9 pm Monday and Tuesday, Friday 9am to 7pm, Saturday noon to 5 pm, Sunday 3 pm to 8 pm</h4>
	</div>
</div>

<div class="well">
	<div class="textCentered">
		<h3>Fisher-Hassenfeld</h3>
		<p>NOW OPEN!</p>
		<h4>3700 Spruce Street (the Quad)</h4>
		<h4>Hours: 9 am to 5 pm and 6pm to 10 pm Monday through Friday, 2 pm to 10 pm Saturday and Sunday</h4>
	</div>
</div>

<div class="well">
	<div class="textCentered">
		<h3>Ware</h3>
		<p>NOW OPEN!</p>
		<h4>3650 Spruce Street (the Quad)</h4>
		<h4>Hours: 9 am to 5 pm Monday through Friday</h4>
		<p>Ware's bikes can be checked out at any house office or from any RA or GA.</p>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<style type="text/css">
	.labels {
		font-weight: 900;
		font-size: 10px;
		line-height: 10px;
		background-color: white;
		text-align: center;
		border-radius: 2px;
		width: 42px;
	}
	</style>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKBg19QWvNQ2U5Skk9nJrG9c43rtJuf-A&amp;sensor=false"></script>
	<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.0.1/src/markerwithlabel.js"></script>
	<script type="text/javascript">
		// $(document).ready(function (){
			// map();
		// });
		function map() {
	    	var mapOptions = {
		            center: new google.maps.LatLng(39.951818,-75.197994),
		            zoom: 17,
		            mapTypeId: google.maps.MapTypeId.ROADMAP,
		            disableDefaultUI: true,
	                zoomControl: false,
	                scrollwheel: false,
		    	};
		    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
		    {% for station in stations %}
			    var marker = new MarkerWithLabel({
			    	position: new google.maps.LatLng({{station.latitude}},{{station.longitude}}),
			    	labelAnchor: new google.maps.Point(25, 0),
			    	// title: "hours go here",
	                map: map,
	                labelContent:"{{station.name}}",
	                labelClass:"labels",
	                icon: "/media/img/marker.png"
			    });
			{% endfor %}
		}
	</script>
{% endblock %}