{% extends 'base.html' %}

{% block title %}
  {{block.super}} Partners
{% endblock %}

{% block content %}
<p>PennCycle is happy to thank their partners for their continued involvement and support!</p>
<hr>
<h3>Hill College House, Penn Division of Public Safety, Penn Police, Penn Office of Risk Management, Penn Student Agencies, Penn Green Campus Partnership, Penn Green Fund Grant, Eastern Mountain Sports, Penn College Houses and Services, Big Red Bikes at Cornell University, NYU Bike Share, and Penn Vet Working Dog Center.</h3>
{% endblock %}