<form id="planform">
  <h3>Select a plan</h3>
  <select id="select" style="width: 300px">
    {% for plan in plans %}
      <option name="{{plan.pk}}" dollar="{{plan.cost}}"> {{plan}} </option>
    {% endfor %}
  </select>
  <span><a href="/plans" target="_blank">Read more about our plans here</a></span>
</form>
<hr>
<h3>You can pay by Cash, Credit Card, or Bursar.</h3> 
<br/>
<p>To pay by <strong>Cash</strong>, pay at the PSA Store.</p>
<p>To pay by <strong>Bursar</strong>, just hit the button below and wait. 
  It will take up to <strong>48 hours</strong> to process your request; 
  you will not be able to check out a bike until you have been successfully billed. 
</p>
<p>
  <strong>Credit Card</strong> is immediate; 
  you will be redirected to a VPUL website where your request will be processed. 
  Please <a href='mailto:messenger@penncycle.org'>email us</a> if anything goes awry. 
</p>
<p>
  Please note that our prices do not include tax. 
</p>
<hr>
<span>
  <h4 class="textCentered">Payment Options</h4>
  <div class="textCentered">
    <a class='btn btn-primary paybutton' name='paybycash' value='paybycash' id='paybycash' href='#'>Cash &#187;</a>
    <a class='btn btn-primary paybutton' name='paybybursar' value='paybybursar' id='paybybursar' href='#'>Bursar &#187;</a>
    <!--<a class='btn btn-primary' name='paybypenncash' value='paybypenncash' id='paybypenncash' href='/pay/penncash/'>PennCash &#187;</a>-->
    <a class='btn btn-primary' name='paybycredit' value='paybycredit' id='paybycredit' href='#'>Credit Card &#187;</a>
  </div>
</span>
<form name="payform" id="payform" method="post" action="https://secure.www.upenn.edu/vpul/psa/bike/index.php" style="display:none;">
  <input id="penncardnum-id" type="hidden" name="ordernumber" value='12345678' />
  <input id="amount-id" type="hidden" name="amount" value=".10" />
</form>