{% extends 'base.html' %}

{% load partition %}

{% block title %}
  {{block.super}} Plans
{% endblock %}

{% block css %}
<style type="text/css">
.details {
  padding-right: 25px;
}
.box {
    position: relative;
}
.ribbon {
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
  border: 25px solid transparent;
  border-top: 25px solid blue;
  position: absolute;
  bottom: 20px;
  right: -50px;
  padding: 0 10px;
  width: 120px;
  color: white;
  font-family: sans-serif;
  size: 11px;
}
.ribbon a {
  font-size: 18px;
  color: white;
  position: absolute;
  top: -20px;
  left: 10px;
  text-decoration: none;
}​

</style>
{% endblock %}

{% block content %}
  <h1>Payment Plans</h1>
  <p>Penncycle currently offers the following payment and usage plans. <a href="/signup">Sign up today!</a></p>
  <hr>
  {% for row in plans|columns:"2" %}
  <div class="row-fluid">
    {% for plan in row %}
    <div class="well box span6">
      {% if plan.banner %}
      <div class="ribbon" href="/signup">
        <a href="/signup">{{plan.banner}}</a>
      </div>
      {% endif %}
      <h2>{{plan.name}}: ${{plan.cost}}</h2>
      <h4>{{plan.start_date}} - {{plan.end_date}}</h4>
      <p 
      {% if plan.banner %}
      class="details"
      {% endif %}
      >{{plan.description|safe|linebreaksbr}}</p>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}
