{% extends 'base.html' %}

{% block title %}
  {{block.super}} Safety
{% endblock %}

{% block content %}
  <p>
    Welcome to PennCycle! You have just embarked on a journey that's going to improve your life at Penn and help the environment. With the bike share program you will be able to get to class faster, more easily travel to center city and other parts of Philly and reduce your taxi and car use while at Penn. However, before you begin your adventures with PennCycle, we want to take you through safety precautions in order to lower your risk of accidents while using the bicycle.
  </p>
  <hr>
  <h2>
    Bicyclists Safety and Security Information
  </h2>
  <h3>Safety</h3>
    <ul type=disc>
      <img class="pull-right" width=309 height=394 src="/media/img/hand-signals.png">
      <li>
        Wear a helmet at all times!
      </li> 
      <li>
        Keep to the right. Ride with traffic, not against it. By law, a bicycle is a vehicle and must obey             traffic laws.
      </li>
      <li>
        Use hand signals to indicate turning or stopping.
      </li>
      <li>
        Use bike paths or bike lanes whenever possible.
      </li>
    </ul>
    <ul type=disc>
      <li>
        Ride defensively.
      </li>
      <li>
        Walk your bicycle across busy intersections.
      </li>
      <li>
        Use reflectors, reflective tape, or similar devices on cycling shoes and clothing.
      </li>
      <li>
        Never race on public space.
      </li>
      <li>
        Avoid riding in bad weather.
      </li>
      <li>
        Avoid riding on trolley tracks.
      </li>
      <li>
        Wear appropriate clothing.
      </li>
    </ul>
    <h3>Security</h3>
    <ul type=disc>
      <li>
        Park your bike in an open, well lit, frequently traveled area.</li>
      <li>
        Secure your bike properly with recommended chains and locks.</li>
      <li>
    Use bicycle racks, which are
    strategically located on campus.</li>
    <li>
    Report any suspicious behavior
    you see around the bicycle racks.</li>
    </ul>

    <h2>University Bicycle Policy</h2>

    <p>
    On public streets and campus paths, bicycles are vehicles and must comply with traffic laws.
    Cyclists and pedestrians share common University paths. To prevent injuries,
    common sense and courtesy are key. Bicycles must yield the right-of-way to
    pedestrians. Pedestrian traffic is especially heavy on Locust Walk. As a
    result, the University has instituted the following policy: Between 8:30 am and
    5:30 pm, Monday - Friday, bike riding is prohibited on the following walkways:
    Locust Walk, Hamilton Walk and Smith Walk. Bicyclists are required to walk
    their bicycles over the Locust Walk footbridge.</p>

    <p >You must lock your bike up properly using the Kryptonite lock provided.</p>

    <h2>To Open Your
    Lock:</h2>

    <ol>
    <li>
      Insert your key
      into the key hole and turn the key. There will be three parts to the U-Lock:
      the key, the straight metal bar and the U-shaped metal bar.
    </li>
    <li>
      While riding
      your bike, lock the U-Lock onto the back rack. Put the key some place safe.
    </li>
    </ol>

    <h2>To Lock Your Bike:</h2>

    <ol>
      <li>
        Find a well-lit
        busy area to lock your bike. Do not lock up your bike in a
        secluded area. Place your bike against a fixed, immovable object with which you
        can lock your bike.
      </li>
      <li>
        It is import that you secure the front wheel as well as the bike frame to the immovable object.
      </li>
      <li>
        If you want to leave your helmet on the bike, be sure to lock it up with the U-Lock.
      </li>
      <li>
        Shake the lock to make
        sure it is secured to the immovable object.
      </li>
    </ol>
{% endblock %}
{% block scripts %}
{% endblock %}
