<div class="row">
  <img class="pull-right img-rounded span3" src="{{ STATIC_URL }}img/zoe_helmet.png">
  <div class="span7 helmet_info">
    <h3>Always wear a helmet! It protects you and is required for all PennCycle members.</h3>
    <h4>Helmets can be borrowed for free or purchased at Quaker Corner.</h4>
  </div>
</div>
<br>

<div>
  <h2>To Unlock Your Bike:</h2>
  <ol>
    <li>
      Rotate the plastic covering to expose the combination dials. Move the four dials until the correct combination is in line with the raised line on the plastic part of the lock just to the left of the dials. Push the black button to the right to release the u-shaped part of the lock. There will be two parts to the U-Lock: the straight metal bar containing the dials and the U-shaped metal bar.
    </li>
    <li>
      While riding your bike, lock the U-Lock onto the back rack. Scramble the dials to ensure the lock is secured.
    </li>
  </ol>
</div>

<div>
  <h2>To Lock Your Bike:</h2>
  <img class="img-rounded pull-right" width=30% src="{{ STATIC_URL }}img/locked_bike.png">
  <ol>
    <li>Find a well-lit busy area to lock your bike. Do not lock up your bike in a secluded area. Place your bike against a fixed, immovable object with which you can lock your bike. </li>
    <li>It is import that you secure the front wheel as well as the bike frame to the immovable object.</li>
    <li>If you want to leave your helmet on the bike, be sure to lock it up with the U-Lock.</li>
    <li>Shake the lock to make sure it is secured to the immovable object.</li>
  </ol>
</div>

<div class="row-fluid">
  <h2>Biking on Campus and in Philly</h2>
  <ul>
    <li>Obey all posted bicycling signs and all Penn law enforcement.</li>
    <li>Biking on Locust Walk is prohibited on weekdays from 8:30 am to 5:30 pm.</li>
    <li>Use bike lanes whenever possible.</li>
    <li>Avoid riding in bad weather.</li>
    <li>Avoid riding on trolley tracks.</li>
  </ul>
</div>

<img class="pull-right img-rounded" src="{{ STATIC_URL }}img/hand_signals.png">
<h2>Always Ride Safe!</h2>
<ul>
  <li>Ride defensively.</li>
  <li>Keep to the right. Ride with traffic, not against it. By law, a bicycle is a vehicle and must obey traffic laws.</li>
  <li>Use hand signals to indicate turning or stopping.</li>
  <li>Use reflectors, reflective tape, or similar devices on cycling shoes and clothing.</li>
</ul>
