{% extends 'base_no_messages.html' %}

{% block title %}
  {{block.super}} Safety
{% endblock %}

{% block content %}
<div>
	<h3>Please look at the following safety information.</h3>
	<div class="row text-center">
		<h4 class="span8">On the next page, you can purchase plans and sign the waiver.</h4>
		<a class="btn btn-primary" href="/welcome/">Next: My Account</a>
	</div>
	<div class="row">
		<div class="span10 offset1 well">
		  {% include 'safety_info.html' %}
		</div>
	</div>
	<div class="row text-center">
		<a class="btn btn-primary text-center" href="/welcome/">View My Account</a>
	</div>
	<br>
</div>
{% endblock %}
