{% extends 'base.html' %}

{% block title %}
  {{block.super}} Sign Up
{% endblock %}

{% block content %}
<div class="paddedheader">
    <h1 class="textCentered">Sign Up & Get Riding!</h1>
  <!--<hr>-->
  <div class="pagination">
    <ul id="secondnav" class="nav nav-tabs">
      <li id="tab-info" class="active"><a data-toggle="tab" href="#info">Info</a></li>
      <li id="tab-safety" class="disabled"><a data-toggle="tab">Safety Info</a></li>
      <li id="tab-waiver" class="disabled"><a data-toggle="tab">Waiver</a></li>
      <li id="tab-pay" class="disabled"><a data-toggle="tab">Pay</a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <!------------- info pane ---------------->
  <div class="tab-pane active" id="info">
    <form id="info-form" class="form-horizontal">{% csrf_token %}
        {{ form }}
    </form>
    <div class="form-actions">
            <button id="info-button" class="btn btn-primary">Next &#187;</button>
        </div>
  </div>
  <!------------- safety pane ---------------->
  <div class="tab-pane" id="safety">
    {{ safety_info.content|safe }}
    <hr>
    <button id="safety-form" class="btn btn-primary">I have read and understand the safety information &#187;</button>
  </div>
  <!------------- waiver pane ---------------->
  <div class="tab-pane" id="waiver">
    <div id='waiver-wrapper'>
      {% include "waiver2.htm" %}
    </div>
    <hr>
    <div class='clearfix'>
      <button id="waiver-form" class="btn btn-primary">I Accept this Waiver &#187;</button>
      <label>Clicking this button counts as your digital signature and is legally binding</label>
    </div>
  </div>
  <div class="tab-pane" id="pay">
    <h2>A PennCard Membership for the rest of this Academic Year is $10</h2>
    <hr>
    <h3>You can pay by Cash, Credit Card, Bursar, or PennCash.</h3> 
    <p>To pay by <strong>Cash</strong>, pay at the PSA Store or the PennCycle table at Hill</p>
    <p>To pay by <strong>Bursar</strong> or <strong>PennCash</strong>, just hit the button below and wait. 
      It will take up to 48 hours to process your request; 
      you will not be able to check out a bike until you have been successfully billed. 
    </p>
    <p>
      <strong>Credit Card</strong> is immediate; 
      you will be redirected to a VPUL website where your request will be processed. 
      Please <a href='mailto:messenger@penncycle.org'>email us</a> if anything goes awry. 
    </p>
    <hr>
    <span>
      <button class='btn btn-primary' name='paybycash' value='paybycash' id='paybycash' href='/paybycash/'>Cash &#187;</button>
      <button class='btn btn-primary' name='paybybursar' value='paybybursar' id='paybybursar' href='/paybybursar/'>Bursar &#187;</button>
      <button class='btn btn-primary' name='paybypenncash' value='paybypenncash' id='paybypenncash' href='/paybypenncash/'>PennCash &#187;</button>
      <button class='btn btn-primary' name='paybycredit' value='paybycredit' id='paybycredit' href='/paybycredit/'>Credit Card &#187;</button>
    </span>
    <form name="payform" method="post" action="https://secure.www.upenn.edu/vpul/psa/bike/index.php" style="display:none;">
      <input id="penncardnum-id" type="hidden" name="ordernumber" value='12345678' />
      <input id="amount-id" type="hidden" name="amount" value=.01 />
    </form>
  </div>
  <div class="tab-pane" id="thanks">
    <h1>Thanks!</h1>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
  
  
    $('#info-button').click(function() {
      $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        } 
      });
    
      var formData = $('#info-form').serialize();
      $.ajax ({
        url: '../info_submit/', 
        type: 'POST',
        data: formData,
        dataType: 'json',
        error: function(xhr, status, exception) {
          console.log(xhr);
          console.log(status);
          console.log(exception);
          alert('whoops! something went wrong');
        },
        success: function(data, status, xhr) {
          if (data['form_valid'] == true) {
            toTab('safety');
          } else if (data['form_valid'] == false) {
            $('#info-form').html(data['new_form']);
            console.log('replaced shit');
          } else {
            alert('alex is dumb');
          }
        },
      });
    });
  
    function toTab(id) {
      $('#secondnav .active').removeClass('active');
      $('.tab-content .active').removeClass('active');
      $('#tab-'+id).removeClass('disabled');
      $('#tab-'+id + ' a').attr("href", "#"+id);
      $('#'+id).addClass('active');
      $('a[href="#'+id+'"]').parent().addClass('active');
    };
    
    $('button#info-form').click(function(){
      toTab('safety');
    });
    
    $('button#safety-form').click(function(){
      toTab('waiver');
    });
    
    $('button#waiver-form').click(function(){
      toTab('pay');
      var pcnum = $("#id_penncard_number").val();
      console.log(pcnum);

      $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        } 
      });

      var pennidData = $.param({'pennid': pcnum});
      $.ajax ({
        url: '../verify_waiver/', 
        type: 'POST',
        data: pennidData,
        dataType: 'json',
        error: function(xhr, status, exception) {
          console.log(xhr);
          console.log(status);
          console.log(exception);
          alert('waiver failed');
        },
        success: function(data, status, xhr) {
          console.log('waiver success');
        },
      });

      $("#penncardnum-id").val(pcnum);
      $("#amount-id").val(10);
      $('#paybycredit').click(function(){
        window.document.payform.submit();
      });
    }); 

    // set background for active tab in navbar    
    $('.nav1 li#signup').addClass('active');

    $('button#video-form').click(function(){
      $('#quiz').tab('show');
    });
  </script>
{% endblock %}
