{% extends 'base.html' %}

{% block title %}
  {{block.super}} Sign Up
{% endblock %}

{% block content %}
<div class="paddedheader">
    <h1 class="textCentered">Sign Up & Get Riding!</h1>
  <!--<hr>-->
  <div class="pagination">
    <ul id="secondnav" class="nav nav-tabs">
      <li id="tab-info" class="active"><a data-toggle="tab" href="#info">Info</a></li>
      <li id="tab-safety" class="disabled"><a data-toggle="tab">Safety Info</a></li>
      <li id="tab-waiver" class="disabled"><a data-toggle="tab">Waiver</a></li>
      <li id="tab-pay" class="disabled"><a data-toggle="tab">Pay</a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
  <!------------- info pane ---------------->
  <div class="tab-pane active" id="info">
    <form id="info-form" class="form-horizontal">{% csrf_token %}
        {{ form }}
    </form>
    <div class="form-actions">
            <button id="info-button" class="btn btn-primary">Next &#187;</button>
        </div>
  </div>
  <!------------- safety pane ---------------->
  <div class="tab-pane" id="safety">
    {{ safety_info.content|safe }}
    <hr>
    <button id="safety-form" class="btn btn-primary">I have read and understand the safety information &#187;</button>
  </div>
  <!------------- waiver pane ---------------->
  <div class="tab-pane" id="waiver">
    <div id='waiver-wrapper'>
      {% include "waiver2.htm" %}
    </div>
    <hr>
    <div class='clearfix'>
      <button id="waiver-form" class="btn btn-primary">I Accept this Waiver &#187;</button>
      <label>Clicking this button counts as your digital signature and is legally binding</label>
    </div>
  </div>
  <!----------- pay pane ------------------>
  <div class="tab-pane" id="pay">
    {% include "paymentstub.html" %}
  </div>
  <!----------- thanks pane ------------------>
  <div class="tab-pane" id="thanks">
    <h1>Thanks!</h1>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="../media/js/payment.js">
  </script>
  <script type="text/javascript">
  
    $('#info-button').click(function() {
      $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }
          if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
          }
        } 
      });
    
      var formData = $('#info-form').serialize();
      $.ajax ({
        url: '../info_submit/', 
        type: 'POST',
        data: formData,
        dataType: 'json',
        error: function(xhr, status, exception) {
          console.log(xhr);
          console.log(status);
          console.log(exception);
          alert('whoops! something went wrong');
        },
        success: function(data, status, xhr) {
          if (data['form_valid'] == true) {
            toTab('safety');
          } else if (data['form_valid'] == false) {
            $('#info-form').html(data['new_form']);
            console.log('replaced shit');
          } else {
            alert('alex is dumb');
          }
        },
      });
    });
  
    function toTab(id) {
      $('#secondnav .active').removeClass('active');
      $('.tab-content .active').removeClass('active');
      $('#tab-'+id).removeClass('disabled');
      $('#tab-'+id + ' a').attr("href", "#"+id);
      $('#'+id).addClass('active');
      $('a[href="#'+id+'"]').parent().addClass('active');
    };
    
    $('button#info-form').click(function(){
      toTab('safety');
    });
    
    $('button#safety-form').click(function(){
      toTab('waiver');
    });
    
    // set background for active tab in navbar    
    $('.nav1 li#signup').addClass('active');

    $('button#video-form').click(function(){
      $('#quiz').tab('show');
    });
  </script>
{% endblock %}
