{% extends "base.html" %}

{% block content %}

<h3>Please log in.</h3>
<p>Don't have a PIN? <a href="#" id="send_pin">Click here</a> to send it</p>
<form method="post" action="/verify_pin/">
{% csrf_token %}
    <div class="row-fluid">
        <div class="span3">
        <b>
            Penncard:
            <br><br>
            PIN:
        </b>
        </div>
        <div class="span9">
            <input type="text" name="penncard">
            <div style="display: none">Enter your 8-digit Penncard</div>
            <br>
            <input type="password" name="pin" maxlength="4">
        </div>
        <input type="submit" value="Log In" />
    </div>
</form>
{% endblock %}