{% extends 'base.html' %}

{% block title %}
  {{block.super}} Stats
{% endblock %}

{% block content %}
  <h1>Stats</h1>
  <hr>
  <h2 class="signups">Signups <small><a>edit</a></small></h2>
  <div id="signups">Loading...</div>
  <hr>
  <h2 class="schools">Schools <small><a>edit</a></small></h2>
  <div id="schools">Loading...</div>
  <hr>
  <h2 class="majors">Majors <small><a>edit</a></small></h2>
  <div id="majors">Loading...</div>  
{% endblock %}

{% block scripts %}
<script src="media/js/djangojax.js" type="text/javascript"></script>
  <!--Load the AJAX API-->
<script type="text/javascript"
      src='https://www.google.com/jsapi'>
</script>
<script>
google.load('visualization', '1', {packages: ['charteditor']}); 
google.setOnLoadCallback(function(){
  $('document').ready(makeChart('signups', 'Signups', 'AreaChart'));
  $('document').ready(makeChart('majors', 'Majors', 'PieChart'));
  $('document').ready(makeChart('schools', 'Schools', 'PieChart'));
});


function makeChart(slug, name, chartType) {
  drawChart();
  var wrapper;
  function drawChart() {
    //console.log('in drawChart');
    $.get('api/'+slug+'/', function(data) {
      var dataTable = new google.visualization.DataTable(data, 1);
      //console.log(dataTable);
      wrapper = new google.visualization.ChartWrapper({
        chartType: chartType,
        dataTable: dataTable,
        containerId: slug,
        options: {
          'title': name,
          'height':400,
        },
      });
      wrapper.draw();
     $('h2.'+slug+' small a').click(function(){
        openEditor();
      });
    });
  }
  function openEditor() {
    console.log('trying to open some shit');
    // Handler for the "Open Editor" button.
    var editor = new google.visualization.ChartEditor();
    google.visualization.events.addListener(editor, 'ok',
      function() { 
        wrapper = editor.getChartWrapper();  
        wrapper.draw(document.getElementById(slug)); 
    }); 
    editor.openDialog(wrapper);
  }
}
</script>
{% endblock %}