{% extends 'base.html' %}

{% block title %}
  {{block.super}} Stats
{% endblock %}

{% block content %}
  <h1>Stats</h1>
    <body>
    <h1>Table created using Normal</h1>
    <div id="table_div_json">Loading...</div>
    <h1>Table created using Wrapper</h1>
    <div id="table_div_json2">Loading...</div>
  </body>
{% endblock %}

{% block scripts %}
<script src="media/js/djangojax.js" type="text/javascript"></script>
  <!--Load the AJAX API-->
<script type="text/javascript"
      src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1"}]}'>
</script>
<script>
  google.setOnLoadCallback(drawChart);
  
  function getData() {
    var dataTable = $.get('../get_stats/', function(data) {
      console.log('got');
      console.log(data);
      var dataTable = new google.visualization.DataTable(data, 1);
      console.log(dataTable);
      return dataTable;
    });
    return dataTable;
  }
  
  function drawTable() {
    var dataTable = getData();
    var dataView = new google.visualization.DataView(dataTable);
    dataView.setColumns([{calc: function(data, row) { return ''; }, type:'string'}, 0, 1]);
    var chart = new google.visualization.LineChart(document.getElementById('table_div_json'));
    console.log(json_data);
    chart.draw(dataView, {});
  }
    
  function drawChart() {
  console.log('in drawChart');
    $.get('../get_stats/', function(data) {
      var dataTable = new google.visualization.DataTable(data, 1);
      console.log(dataTable);
      var wrapper = new google.visualization.ChartWrapper({
        chartType: 'LineChart',
        dataTable: dataTable,
        options: {
          'title': 'Countries',
          'height':400,
          
        },
        containerId: 'table_div_json'
      });
    wrapper.draw()
    });
    // No query callback handler needed!
  }
</script>
{% endblock %}