{% extends 'base.html' %}

{% block title %}
  {{block.super}} Team
{% endblock %}

{% block content %}
<p class="textCentered">PennCycle is a part of Penn Student Agencies.</p>
<hr>
<h3>Chris Cruz, Sales and Expansion Manager</h3>
<p>College &#8217;13 <a href="mailto:chris@penncycle.org">chris@penncycle.org</a></p>
<h3>Madison Roberts, Director</h3>
<p>College &#8217;14 <a href="mailto:madisonr@penncycle.org">madisonr@penncycle.org</a></p>
<h3>Jenny Xia, Finance and Data Manager</h3>
<p>College &#8217;14 <a href="mailto:jxia@penncycle.org">jxia@penncycle.org</a></p>
<h3>Razzi Abuissa, Webmaster</h3>
<p>College &#8217;15 <a href="mailto:rabuissa@sas.upenn.edu">rabuissa@sas.upenn.edu</a></p>
<h3>Fleet Managers</h3>
<p>Bobby Lundquist, College &#8217;16 <a href="mailto:bobbylundquist@gmail.com">bobbylundquist@gmail.com</a></p>
<p>Michael Patini, College &#8217;16 <a href="mailto:mpatini.penncycle@gmail.com">mpatini.penncycle@gmail.com</a></p>
<p>Mitchell Hung, Engineering &#8217;16 <a href="mailto:mitchhung@gmail.com">mitchhung.@gmail.com</a></p>
<h3>Sales Associates</h3>
<p>Zoe Blickenderfer, College &#8217;16 <a href="mailto:bzoe@sas.upenn.edu">bzoe@sas.upenn.edu</p></a>
<p>Sara Jones, College &#8217;16 <a href="mailto:jonessar@sas.upenn.edu">jonessar@sas.upenn.edu</p></a>
<p>Brian Rawn, College &#8217;15 <a href="mailto:rawnb@sas.upenn.edu">bzoe@sas.upenn.edu</p></a>
<p>Sheila Deng, College &#8217;16 <a href="mailto:sdeng02@gmail.com">sdeng02@gmail.com</p></a>
<h3>Alumni</h3>
<p>Elizabeth Cutler, co-founder, College &#8217;13 <a href="mailto:ecutler@sas.upenn.edu">ecutler@sas.upenn.edu</a></p>
<p>Alex Rattray, co-founder, Wharton &#8217;14 <a href="mailto:rattray.alex@gmail.com">rattray.alex@gmail.com</a></p>
{% endblock %}