{% extends 'base.html' %}

{% block title %}
  {{block.super}} Team
{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span6">
		<img src="{{ STATIC_URL }}img/chris.png" class="profile">
		<h3>Chris Cruz</h3>
		<h4>Sales and Expansion Manager</h4>
		<p class="school">College &#8217;13</p>
		<p><a href="mailto:chris@penncycle.org">chris@penncycle.org</a></p>
	</div>
	<div class="span6">
		<img src="{{ STATIC_URL }}img/madison.jpeg" class="profile">
		<h3>Madison Roberts</h3>
		<h4>Director</h4>
		<p class="school">College &#8217;14</p>
		<p><a href="mailto:madisonr@penncycle.org">madisonr@penncycle.org</a></p>
	</div>
</div>
<div class="row-fluid">
	<div class="span6">
		<img src="{{ STATIC_URL }}img/jenny.jpg" class="profile">
		<h3>Jenny Xia</h3>
		<h4>Finance and Data Manager</h4>
		<p class="school">College &#8217;14</p>
		<p><a href="mailto:jxia@penncycle.org">jxia@penncycle.org</a></p>
	</div>
	<div class="span6">
		<img src="{{ STATIC_URL }}img/razzi.png" class="profile">
		<h3>Razzi Abuissa</h3>
		<h4>Webmaster</h4>
		<p class="school">College &#8217;15</p>
		<p><a href="mailto:rabuissa@sas.upenn.edu">rabuissa@sas.upenn.edu</a></p>
	</div>
</div>
<br>

<h2 class="textCentered">Fleet Managers</h2>
<div class="row-fluid">
	<div class="span6">
		<img src="{{ STATIC_URL }}img/bobby.jpg" class="profile">
		<h4>Bobby Lundquist</h4>
		<p class="school">College &#8217;16</p>
		<p><a href="mailto:bobbylundquist@gmail.com">bobbylundquist@gmail.com</a></p>
	</div>
	<div class="span6">
		<img src="{{ STATIC_URL }}img/michael.jpg" class="profile">
		<h4>Michael Patini</h4>
		<p class="school">College &#8217;16</p>
		<p><a href="mailto:mpatini.penncycle@gmail.com">mpatini.penncycle@gmail.com</a></p>
	</div>
</div>
<br>

<h2 class="textCentered">Sales Associates</h2>
<div class="row-fluid">
	<div class="span4">
		<img src="{{ STATIC_URL }}img/zoe.jpg" class="profile">
		<h4>Zoe Blickenderfer</h4>
		<p class="school">College &#8217;16</p>
		<p><a href="mailto:bzoe@sas.upenn.edu">bzoe@sas.upenn.edu</a></p>
	</div>
	<div class="span4">
		<img src="{{ STATIC_URL }}img/sara.jpeg" class="profile">
		<h4>Sara Jones</h4>
		<p class="school">College &#8217;16</p>
		<p><a href="mailto:jonessar@sas.upenn.edu">jonessar@sas.upenn.edu</a></p>
	</div>
	<div class="span4">
		<img src="{{ STATIC_URL }}img/brian.jpg" class="profile">
		<h4>Brian Rawn</h4>
		<p class="school">College &#8217;15</p>
		<p><a href="mailto:rawnb@sas.upenn.edu">rawnb@sas.upenn.edu</a></p>
	</div>
</div>
<br>

<h2 class="textCentered">Alumni</h2>
<div class="row-fluid">
	<div class="span6">
		<img src="{{ STATIC_URL }}img/lizzie.jpg" class="profile">
		<h3>Elizabeth Cutler</h3>
		<p>Co-founder</p>
		<p class="school">College &#8217;15</p>
		<a href="mailto:ecutler@sas.upenn.edu">ecutler@sas.upenn.edu</a>
	</div>
	<div class="span6">
		<img src="{{ STATIC_URL }}img/alex.jpg" class="profile">
		<h3>Alex Rattray</h3>
		<p>Co-founder</p>
		<p class="school">Wharton &#8217;14</p>
		<a href="mailto:rattray.alex@gmail.com">rattray.alex@gmail.com</a>
	</div>
</div>
{% endblock %}