{% extends 'base.html' %}

{% block title %}
  {{block.super}}
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs">
    <li class="active"><a href="#signup" data-toggle="tab">Info</a></li>
    <li><a href="#video" data-toggle="tab">Video</a></li>
    <li><a href="#quiz" data-toggle="tab">Quiz</a></li>
    <li><a href="#waiver" data-toggle="tab">Waiver</a></li>
    <li><a href="#pay" data-toggle="tab">Pay</a></li>
    <li><a href="#thanks" data-toggle="tab">Thanks!</a></li>
  </ul>
  <h1>{{message}}</h1>
  <div class="tab-content">
    <div class="tab-pane active" id="signup">
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
      </form>
    </div>
    <div class="tab-pane" id="video">
      <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/1eFDra1XimA?version=3&feature=player_profilepage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/1eFDra1XimA?version=3&feature=player_profilepage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
    </div>
    <div class="tab-pane" id="quiz">
    </div>
    <div class="tab-pane" id="waiver">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus lectus, rutrum eget venenatis non, ornare sit amet elit. Donec sit amet lorem ut felis lacinia bibendum. Nulla auctor, dolor at scelerisque consectetur, magna velit pretium odio, vitae egestas orci eros vitae est. Sed sagittis porttitor dictum. Suspendisse vel lorem ut dolor vestibulum fermentum. Sed vestibulum mauris quis diam pellentesque nec viverra turpis pellentesque. Nam metus est, tempus nec scelerisque nec, scelerisque at erat.</p>
    </div>
    <div class="tab-pane" id="pay">
      <img src="/media/img/paypal.png"/>
    </div>
    <div class="tab-pane" id="thanks">
      <h1>Thanks!</h1>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(function () {
     $('#signup').tab('show');
    })
  </script>
{% endblock %}