{% extends 'base.html' %}

{% block title %}
  {{block.super}}
{% endblock %}

{% block content %}
<h1>Sign Up & Get Riding!</h1>
<hr>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#signup" data-toggle="tab">Info</a></li>
    <li><a href="#video" data-toggle="tab">Video</a></li>
    <li><a href="#quiz" data-toggle="tab">Quiz</a></li>
    <li><a href="#waiver" data-toggle="tab">Waiver</a></li>
    <li><a href="#pay" data-toggle="tab">Pay</a></li>
    <li><a href="#thanks" data-toggle="tab">Thanks!</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="signup">
      <!--
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
      </form>
      -->
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
          {{ form }}
          <div class="form-actions">
              <button type="submit" id="info-form" class="btn btn-primary">Next &#175;</button>
          </div>
      </form>
    </div>
    <div class="tab-pane" id="video">
      <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/cgxK1B-tVS0?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/cgxK1B-tVS0?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
      <button id="video-form" class="btn btn-primary">Next &#175;</button>
    </div>
    <div class="tab-pane controls" id="quiz">
      {% for q in quiz %}
        <h2>{{q.question}}</h2>
        {% for c in q.choices %}
        <label class="radio" for='{{forloop.parentloop.counter}}-{{forloop.counter}}'>
          <input type="radio" name='{{forloop.parentloop.counter}}' 
            id="{{forloop.parentloop.counter}}-{{forloop.counter}}" 
            value="{{forloop.parentloop.counter}}-{{forloop.counter}}"
            group="{{forloop.parentloop.counter}}">
          {{c}}
        </label>
        {% endfor %}
      {% endfor %}
      <!--
      <h1>Question?</h1>
      <form name="question1" action="" method="POST" class="form-horizontal">
        <div class = "question">
          <input type="radio" name="group1" value="answer">answer
          <input type="radio" name="group1" value="wrong1">wrong1
          <input type="radio" name="group1" value="wrong2">wrong2
          <input type="radio" name="group1" value="wrong3">wrong3
          <input type="radio" name="group1" value="wrong4">wrong4
        </div>
      </form>
      -->
    </div>
    <div class="tab-pane" id="waiver">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus lectus, rutrum eget venenatis non, ornare sit amet elit. Donec sit amet lorem ut felis lacinia bibendum. Nulla auctor, dolor at scelerisque consectetur, magna velit pretium odio, vitae egestas orci eros vitae est. Sed sagittis porttitor dictum. Suspendisse vel lorem ut dolor vestibulum fermentum. Sed vestibulum mauris quis diam pellentesque nec viverra turpis pellentesque. Nam metus est, tempus nec scelerisque nec, scelerisque at erat.</p>
    </div>
    <div class="tab-pane" id="pay">
      <img src="/media/img/paypal.png"/>
    </div>
    <div class="tab-pane" id="thanks">
      <h1>Thanks!</h1>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $(function () {
     $('#signup').tab('show');
    })
    $('button#info-form').click(function(){
      alert('hello');
      $('#video').tab('show');
    });
    $('button#video-form').click(function(){
      $('#quiz').tab('show');
    });
  </script>
{% endblock %}
